{% extends 'base.html' %}

{% block content %}
<h2>My Job Applications</h2>

<a href="{% url 'job_create' %}">Add New Job</a>
<a href="{% url 'job_pdf' %}">Download PDF</a>

<form method="get">
    <input type="text" name="q" placeholder="Search company"
           value="{{ query|default:'' }}">

    <select name="status">
        <option value="">All Status</option>
        <option value="Applied" {% if status == "Applied" %}selected{% endif %}>Applied</option>
        <option value="Interview" {% if status == "Interview" %}selected{% endif %}>Interview</option>
        <option value="Offer" {% if status == "Offer" %}selected{% endif %}>Offer</option>
        <option value="Rejected" {% if status == "Rejected" %}selected{% endif %}>Rejected</option>
    </select>

    <button type="submit">Search</button>
</form>

<hr>


<table border="1" cellpadding="5">
    <tr>
        <th>Company</th>
        <th>Position</th>
        <th>Status</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>

    {% for job in jobs %}
    <tr>
        <td>{{ job.company_name }}</td>
        <td>{{ job.position }}</td>
        <td>{{ job.status }}</td>
        <td>{{ job.applied_date }}</td>
        <td>
            <a href="{% url 'job_update' job.id %}">Edit</a>
            |
            <a href="{% url 'job_delete' job.id %}">Delete</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No jobs found.</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
